# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# CocoaPods / Carthage (if used later)
Pods/
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/screenshots/**/*.png

# Misc
*.log
